:root {
  /* Bases */
  --primary: #050c81;       
  --secondary: #4c6ef5;     
  --background: #F2F4F8;    
  
  /* Botones y Acciones */
  --btn-main: #002a4d;      
  --btn-add: #014185;       
  --btn-edit: #5c7cfa;      
  --text-dark: #001f3f;     
}

/* Cabecera superior */
.main-header {
  background-color: var(--primary) !important;
  color: white !important;
}

/* Iconos y textos de la barra superior */
.main-header .navbar-nav > .nav-item > .nav-link,
.main-header .navbar-brand,
.main-header .btn-group > .btn {
    color: white !important;
}

/* Sidebar (Izquierda) */
.main-sidebar {
  background-color: var(--primary) !important;
}

/* Links del sidebar */
.main-sidebar a {
  color: white !important;
}

.main-sidebar a:hover, .main-sidebar .active > a {
  background-color: var(--secondary) !important;
  color: white !important;
}


/* menú desplegable con fondo blanco y letras oscuras */
.dropdown-menu {
    background-color: white !important;
    border: 1px solid #dee2e6 !important;
}

.dropdown-menu a, 
.dropdown-menu .dropdown-item,
.dropdown-item {
    color: var(--text-dark) !important; 
}

.dropdown-menu a:hover, 
.dropdown-item:hover {
    background-color: var(--secondary) !important;
    color: white !important; /* Al pasar el mouse, fondo azul y letra blanca */
}

/* Ajuste del logo en Login */
.login-logo img {
    width: 150px !important;
    height: auto !important;
    margin: 25px auto !important;
    display: block;
}

/* Botón "AÑADIR"  */
.content-wrapper .btn-success,
.card-footer .btn-success {
    background-color: var(--btn-add) !important;
    border-color: var(--btn-add) !important;
    color: white !important;
}

.content-wrapper .btn-success:hover,
.card-footer .btn-success:hover {
    background-color: #0056b3 !important; 
    border-color: #0056b3 !important;
}

/* Botón "MODIFICAR" */
.content-wrapper .btn-info,
.content-wrapper .btn-warning {
    background-color: var(--btn-edit) !important;
    border-color: var(--btn-edit) !important;
    color: white !important;
}

.content-wrapper .btn-info:hover,
.content-wrapper .btn-warning:hover {
    background-color: #3b5bdb !important;
    border-color: #3b5bdb !important;
}

/* Botones GENERALES/PRINCIPALES (Guardar, Filtrar)  */
.content-wrapper .btn-primary,
.card-footer .btn-primary,
.btn.btn-primary {
    background-color: var(--btn-main) !important;
    border-color: var(--btn-main) !important;
}

.content-wrapper .btn-primary:hover,
.card-footer .btn-primary:hover,
.btn.btn-primary:hover {
    background-color: #001933 !important; 
    border-color: #001933 !important;
}


